# Файл з секретними змінними оточення
.env

# Папка зі встановленими залежностями
/node_modules

# Логи та файли звітів
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файли, що генеруються операційною системою
.DS_Store
Thumbs.db

# Папки для збірки проєкту (на майбутнє)
/dist
/build

# Файли конфігурації редакторів коду
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?